<nav class="navbar navbar-expand-sm navbar-dark navbar-zhi sticky-top{% if page.url == '/' %} navbar-transparent{% endif %}">
    <div class="container-fluid p-0" style="max-width: 1400px;">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/badges/Penn_shield.svg' | relative_url }}" alt="Penn logo" class="navbar-logo-img">
            {{site.data.profile.navbar_name}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation.pages %}
                <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
