<h2 class="section-title" id="join-us">Lab Openings</h2>
<div class="my-3 bg-white shadow-sm rounded-xl opening-card">
    <div class="opening-icon-chip"><i class="fas fa-rocket"></i></div>
    <div class="opening-body">
    <p class="mb-0">
        I'm recruiting <b>two PhD students</b> to join my lab in the application cycle of Fall 2027.
        Admissions will be through <b><a href="https://be.seas.upenn.edu/" target="_blank">UPenn Bioengineering</a></b>
        or <b><a href="https://www.cis.upenn.edu/" target="_blank">UPenn Computer Science</a></b>, depending on your
        background and research interests.
        If you would like to join us on this journey, please fill out this
        <b><a href="https://docs.google.com/forms/d/e/1FAIpQLSeGI59zMzaBPQQIP8hVdT_rC153h_Oyo3GtJx8JwXFCgQ1DLw/viewform?usp=dialog"
                target="_blank">Google form</a></b>
        to tell me a bit about yourself.
        We look forward to hearing from you!
    </p>
    <p class="mb-0 mt-3">
        If you are looking for a research opportunity working with me (e.g., undergraduate, master's or PhD students), please email me directly with your CV and a brief description of your interests.
    </p>
    </div>
</div>
